<h1 *ngIf="isForfeited()">You forfeited the game!</h1>

<h1>Total score: {{ getTotalScore() }}ms (lower is better)</h1>
<div id="barChartContainer" style="height: 570px; width: 100%;"></div>
<div *ngIf="isLowScore() && !isForfeited()">
  <h1>You have a new low score!</h1>
</div>

<h1>Low scores</h1>
<table>
  <thead><tr><th>Score</th><th>Name</th></tr></thead>
  <tr *ngFor="let score of getLowScores()">
    <td> {{ score.score }} </td>
    <td> {{ score.name }} </td>
  </tr>
</table>
<a class="navigate" mat-button color="primary" routerLink="/play">Play again?</a>

